SECRET_KEY="appdevproj"
DATABASE_URL=""
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
TURNSTILE_SITE_KEY=""
TURNSTILE_SECRET_KEY=""
OPENROUTER_API_KEY=""
OPENROUTER_TITLE="Eco Primers"
OPENROUTER_REFERER="https://ecoprimers.dennise.me"
OPENROUTER_MODEL="openrouter/auto"
RESEND_API_KEY=""
RESEND_FROM_NAME="Eco Primers"
RESEND_FROM_EMAIL="apps@dennise.me"
OPENWEATHER_API_KEY=""
NEWS_API_KEY=""
