AWS_ACCESS_KEY_ID="ecoprimers"
AWS_ENDPOINT_URL_S3="http://localhost:9000"
AWS_REGION="us-east-1"
AWS_SECRET_ACCESS_KEY="ecoprimers"
DATABASE_URL="postgresql://ecoprimers:ecoprimers@localhost:5432/main"
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
NEWS_API_KEY=""
OPENROUTER_API_KEY=""
OPENROUTER_MODEL="openrouter/auto"
OPENROUTER_REFERER="https://ecoprimers.dennise.me"
OPENROUTER_TITLE="Eco Primers"
OPENWEATHER_API_KEY=""
RESEND_API_KEY=""
RESEND_FROM_EMAIL="apps@dennise.me"
RESEND_FROM_NAME="Eco Primers"
SECRET_KEY="appdevproj"
TURNSTILE_SECRET_KEY=""
TURNSTILE_SITE_KEY=""
