# IDE configurations
.vs/
.idea/

# Environment files
.venv/
venv/

# User-specific files
.env*
!.env*.template
*.db
src/static/uploads/

# Output files
build/
dist/
__pycache__/

# Miscellaneous files
.DS_Store
Desktop.ini
Thumbs.db