# IDE configurations
.vs/
.idea/

# Environment files
.venv/
venv/

# User-specific files
*.db
.env*
!.env*.template

# Output files
build/
dist/
__pycache__/

# Miscellaneous files
.DS_Store
Desktop.ini
Thumbs.db