# Editor configurations
.vs/
.idea/

# Build files
.pytest_cache/
.ruff_cache/
.venv-workers/
.venv/
.wrangler/
__pycache__/
*.egg-info/
node_modules/
python_modules/
build/
dist/
pylock.toml

# User files
.env*
!.env*.template

# Miscellaneous files
.tmp/
.DS_Store
Desktop.ini
Thumbs.db
!.gitkeep
