{% extends "base.html" %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ static('css/chat.css') }}" />
{% endblock %}

{% block scripts %}
<script type="module" src="{{ static('js/chat.js') }}"></script>
{% endblock %}

{% block body %}
<div class="h-100 d-flex flex-column">
  <div id="messages" class="py-2 d-flex flex-fill flex-column gap-2">
    <!-- To be added by JavaScript -->
  </div>
  <div class="py-3 bg-body-tertiary">
    <form id="form" class="container d-flex gap-2">
      <input class="form-control" type="text" name="content" placeholder="What do you want to know?">
      <button class="btn btn-primary" type="submit">Send</button>
    </form>
  </div>
</div>
{% endblock %}