{% extends "base.html" %}

{% block body %}
<div class="container my-4 d-flex justify-content-center">
  <form class="card" style="width: 600px;" method="post" action="{{ url_for('community_edit', id=post.id) }}" enctype="multipart/form-data">
    <!-- Header -->
    <div class="card-body d-flex justify-content-between align-items-center">
      <h5 class="card-title m-0">Edit Post</h5>
      <a class="btn btn-primary" href="{{ url_for('community') }}">
        Back
      </a>
    </div>

    <!-- Image -->
    <div>
      {% if post.image_url %}
      <img class="img-fluid" src="{{ post.image_url }}" alt="Image" />
      {% endif %}
    </div>

    <!-- Fields -->
    <div class="card-body vstack gap-2">
      <div>
        <label class="form-label" for="content">Content</label>
        <textarea id="content" class="form-control" name="content" rows="4" placeholder="What's on your mind?" required>{{ post.content }}</textarea>
      </div>
      <div>
        <label class="form-label" for="image">Image (optional)</label>
        <input id="image" class="form-control" type="file" name="image" />
      </div>
    </div>

    <!-- Actions -->
    <div class="card-body d-flex justify-content-end gap-2">
      <a class="btn btn-secondary" href="{{ url_for('community') }}">Cancel</a>
      <button class="update-btn btn btn-primary" type="submit">Save</button>
    </div>
  </form>
</div>

<script>
  // JavaScript to toggle the dropdown menu and hide it when clicking outside
  //document.addEventListener("click", function (event) {
  //  document.querySelectorAll(".dots-btn").forEach((button) => {
  //    const dropdown = button.nextElementSibling;
  //    if (button.contains(event.target)) {
  //      dropdown.style.display =
  //        dropdown.style.display === "block" ? "none" : "block";
  //    } else {
  //      dropdown.style.display = "none";
  //    }
  //  });
  //});

  const UpdateButtons = document.querySelectorAll("button.update-btn");
UpdateButtons.forEach(element => {
  element.addEventListener("click", (event) => {
    event.preventDefault(); // Stop default form submission

    console.log("Comment button clicked");

    if (!confirm("Are you sure you want to Comment?")) {
      return; // Stop execution if the user clicks "Cancel"
    }

    const commentForm = element.closest("form");
    if (commentForm) {
      commentForm.submit(); // Manually submit only if confirmed
    }
  });
});
</script>
{% endblock %}