{% extends "base.html" %}

{% block stylesheets %}
<link rel="stylesheet" href="../static/css/messages.css">
{% endblock %}


{% block body %}
<script src="../static/js/messages.js"></script>
<div id="users">
    <div class="user">
        <div class="initials">
            <img class="ratio ratio-1x1" src="https://github.com/shadcn.png" alt="Profile Picture" />
        </div>
        <div class="user-info">
            <div class="user-info">
                <h2 class="name">User's name</h2>
                <p class="status">Read sample</p>
            </div>
        </div>
    </div>
    <div class="user">
        <div class="initials">
            <img class="ratio ratio-1x1" src="https://github.com/shadcn.png" alt="Profile Picture" />
        </div>
        <div class="user-info">
            <div class="user-info">
                <h2 class="name">User's name</h2>
                <p class="status">Read sample</p>
            </div>
        </div>
    </div>
    <div class="user">
        <div class="initials">
            <img class="ratio ratio-1x1" src="https://github.com/shadcn.png" alt="Profile Picture" />
        </div>
        <div class="user-info">
            <div class="user-info">
                <h2 class="name">User's name</h2>
                <p class="status">Read sample</p>
            </div>
        </div>
    </div>
    <div class="user">
        <div class="initials">
            <img class="ratio ratio-1x1" src="https://github.com/shadcn.png" alt="Profile Picture" />
        </div>
        <div class="user-info">
            <div class="user-info">
                <h2 class="name">User's name</h2>
                <p class="status">Read sample</p>
            </div>
        </div>
    </div>
    <div class="user">
        <div class="initials">
            <img class="ratio ratio-1x1" src="https://github.com/shadcn.png" alt="Profile Picture" />
        </div>
        <div class="user-info">
            <div class="user-info">
                <h2 class="name">User's name</h2>
                <p class="status">Read sample</p>
            </div>
        </div>
    </div>
</div>

<div id="chat-space">
    <div id="message-space">

    </div>
    
    <div id ="input-space">

    </div>
</div>
{% endblock %}
