{% extends "base.html" %}

{% block stylesheets %}
<link rel="stylesheet" href="../static/css/messages.css">
{% endblock %}


{% block scripts %}
<script src="../static/js/messages.js"></script>
<script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
{% endblock %}

{% block body %}
<div id="users">
    <div class="user">
        <div class="initials">
            <img class="ratio ratio-1x1" src="https://github.com/shadcn.png" alt="Profile Picture" />
        </div>
        <div class="user-info">
            <div class="user-info">
                <h2 class="name">User's name</h2>
                <p class="status">Read sample</p>
            </div>
        </div>
    </div>
    <div class="user">
        <div class="initials">
            <img class="ratio ratio-1x1" src="https://github.com/shadcn.png" alt="Profile Picture" />
        </div>
        <div class="user-info">
            <div class="user-info">
                <h2 class="name">User's name</h2>
                <p class="status">Read sample</p>
            </div>
        </div>
    </div>
    <div class="user">
        <div class="initials">
            <img class="ratio ratio-1x1" src="https://github.com/shadcn.png" alt="Profile Picture" />
        </div>
        <div class="user-info">
            <div class="user-info">
                <h2 class="name">User's name</h2>
                <p class="status">Read sample</p>
            </div>
        </div>
    </div>
    <div class="user">
        <div class="initials">
            <img class="ratio ratio-1x1" src="https://github.com/shadcn.png" alt="Profile Picture" />
        </div>
        <div class="user-info">
            <div class="user-info">
                <h2 class="name">User's name</h2>
                <p class="status">Read sample</p>
            </div>
        </div>
    </div>
    <div class="user">
        <div class="initials">
            <img class="ratio ratio-1x1" src="https://github.com/shadcn.png" alt="Profile Picture" />
        </div>
        <div class="user-info">
            <div class="user-info">
                <h2 class="name">User's name</h2>
                <p class="status">Read sample</p>
            </div>
        </div>
    </div>
</div>

<div id = "chat-scape">
    <div class="message-space">
        <div class = "message-block other-person">
            <div class = "message">
                <p> this is a sample message </p>
            </div>
        </div>
        <div class = "message-block you">
            <div class = "message">
                <p> this is a sample message </p>
            </div>
        </div>
    </div>
    <div class = "input space">
        <form method = "POST" action = "/community/messages">
            <input type = "int" hidden id="recepient-id">
            <input type = "int" hidden id="sender-id">
            <input type = "text" id = "message" name = "message" placeholder="Enter message here">
            <input type = "submit" id = "send-message" placeholder="Send">
        </form>
    </div>
</div>

{% endblock %}
