{% extends "base.html" %}

{% block scripts %}
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}

{% block stylesheets %}
<style>
  .rewards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
</style>
{% endblock %}

{% block body %}
<div class="container my-4">
  <!-- Header -->
  <div class="mb-4 d-flex justify-content-between align-items-center">
    <h3 class="text-center m-0">Rewards</h3>
    <span class="badge text-bg-primary">{{ user.points }}</span>
  </div>

  <!-- Rewards -->
  <div class="rewards gap-4">
    {% for index, product in enumerate(products) %}
    <div class="card" style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#modal-{{ index }}">
      <img class="card-img-top" style="aspect-ratio: 1 / 1; object-fit: cover;" src="{{ product.image_url }}" alt="Reusable Cup" />
      <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-text">{{ product.points }} pts</p>
      </div>

      <!-- Modal -->
      <div id="modal-{{ index }}" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
          <form class="modal-content" method="post" action="{{ url_for('redeem_reward') }}">
            <!-- Hidden Fields -->
            <input type="hidden" name="reward_name" value="{{ product.name }}">
            <input type="hidden" name="reward_cost" value="{{ product.points }}">

            <!-- Modal Content -->
            <div class="modal-header">
              <h5 class="modal-title">
                <span>{{ product.name }}</span>
                <span class="badge text-bg-primary">{{ product.points }}</span>
              </h5>
              <button class="btn-close" type="button" data-bs-dismiss="modal"></button>
            </div>
            <img class="img-fluid" src="{{ product.image_url }}" alt="Reusable Cup" />
            <div class="modal-body">
              <div>{{ product.description if product.description else "No description provided." }}</div>
              {% if user.points >= product.points %}
              <div class="mt-2">
                <div class="g-recaptcha" data-sitekey="6Ldk8skqAAAAADv8tINcjejBa3JllvFUrNKkxa30"></div>
              </div>
              {% endif %}
            </div>
            <div class="modal-footer">
              <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cancel</button>
              {% if user.points >= product.points %}
              <button class="btn btn-primary" type="submit">Redeem ({{ product.points }} pts)</button>
              {% else %}
              <button class="btn btn-primary" type="button" disabled>Not Enough Points</button>
              {% endif %}
            </div>
          </form>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}