{% extends "base.html.j2" %}

{% block title %}
App Development Project
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="../static/css/example.css" />
{% endblock %}

{% block scripts %}
<script src="../static/js/example.js"></script>
{% endblock %}

{% block body %}
<div>Example page.</div>
{% endblock %}