{% extends "admin/base.html" %}

{% block styles %}
<style>
  .features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
</style>
{% endblock %}

{% block abody %}
<div class="py-3 container-fluid">
  <div class="features gap-2">
    <form class="card" method="post" action="{{ url_for('admin_advanced_reset_database') }}">
      <div class="card-body d-flex flex-column">
        <h5 class="card-title">Reset Database</h5>
        <p class="card-text flex-fill">Reset the database by dropping all tables and recreating them.</p>
        <div class="mt-3">
          <button class="btn btn-primary" type="submit" data-confirm="Are you sure?">Reset</button>
        </div>
      </div>
    </form>
    <form class="card" method="post" action="{{ url_for('admin_advanced_setup_database') }}">
      <div class="card-body d-flex flex-column">
        <h5 class="card-title">Setup Database</h5>
        <p class="card-text flex-fill">Preload database with curated data. You should run this if you have reset the database!</p>
        <div class="mt-3">
          <button class="btn btn-primary" type="submit" data-confirm="Are you sure?">Setup</button>
        </div>
      </div>
    </form>
    <form class="card" method="post" action="{{ url_for('admin_advanced_generate_users') }}">
      <div class="card-body d-flex flex-column">
        <h5 class="card-title">Generate Users</h5>
        <p class="card-text flex-fill">Uses AI to generate random users. The generated password is "generateduser".</p>
        <div>
          <label class="form-label" for="userCount">Count</label>
          <input class="form-control" type="number" id="userCount" name="count" value="10" min="1" />
        </div>
        <div class="mt-3">
          <button class="btn btn-primary" type="submit" data-confirm="Are you sure?">Generate</button>
        </div>
      </div>
    </form>
    <form class="card" method="post" action="{{ url_for('admin_advanced_generate_transactions') }}">
      <div class="card-body d-flex flex-column">
        <h5 class="card-title">Generate Transactions</h5>
        <p class="card-text flex-fill">Uses AI to generate random transactions. This will randomly use existing users.</p>
        <div>
          <label class="form-label" for="transactionCount">Count</label>
          <input class="form-control" type="number" id="transactionCount" name="count" value="10" min="1" />
        </div>
        <div class="mt-3">
          <button class="btn btn-primary" type="submit" disabled>Generate</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}