{% extends "base.html" %}

{% block body %}
<div class="admin">
  <div class="navigation bg-body-tertiary">
    <a class="item" title="Dashboard" href="{{ url_for('admin') }}">
      <i class="fa-solid fa-house"></i>
    </a>
    <a class="item" title="Events" href="{{ url_for('admin_events') }}">
      <i class="fa-solid fa-calendar-days"></i>
    </a>
    <a class="item" title="Users" href="{{ url_for('admin_users') }}">
      <i class="fa-solid fa-user"></i>
    </a>
    <a class="item" title="Transactions" href="{{ url_for('admin_transactions') }}">
      <i class="fa-solid fa-money-bill"></i>
    </a>
  </div>
  <div class="body">
    {% block abody %} {% endblock abody %}
  </div>
</div>
{% endblock %}