{% extends "base.html" %}

{% set admin = True %}

{% block body %}
<div class="admin">
  <div class="navigation bg-secondary-subtle">
    <a class="item" title="Dashboard" href="{{ url_for('admin') }}" data-bs-toggle="tooltip" data-bs-placement="right">
      <i class="fa-solid fa-house"></i>
    </a>
    <a class="item" title="Events" href="{{ url_for('admin_events') }}" data-bs-toggle="tooltip" data-bs-placement="right">
      <i class="fa-solid fa-calendar-days"></i>
    </a>
    <a class="item" title="Users" href="{{ url_for('admin_users') }}" data-bs-toggle="tooltip" data-bs-placement="right">
      <i class="fa-solid fa-user"></i>
    </a>
    <a class="item" title="Products" href="{{ url_for('admin_products') }}" data-bs-toggle="tooltip" data-bs-placement="right">
      <i class="fa-solid fa-bag-shopping"></i>
    </a>
    <a class="item" title="Transactions" href="{{ url_for('admin_transactions') }}" data-bs-toggle="tooltip" data-bs-placement="right">
      <i class="fa-solid fa-money-bill"></i>
    </a>
    <a class="item" title="Advanced" href="{{ url_for('admin_advanced') }}" data-bs-toggle="tooltip" data-bs-placement="right">
      <i class="fa-solid fa-gear"></i>
    </a>
  </div>
  <div class="body">
    {% block abody %} {% endblock abody %}
  </div>
</div>
{% endblock %}