{% extends "admin/base.html" %}

{% block abody %}
<main class="h-100 d-flex justify-content-center align-items-center">
  <div class="card" style="width: 500px;">
    <form class="card-body" method="POST" action="{{ url_for('admin_events_edit', id=event.id) }}">
      <div>
        <h5 class="card-title text-center">Edit Event</h5>
      </div>
      <div class="vstack gap-2">
        <div>
          <label class="form-label" for="name">Name</label>
          <input class="form-control" type="text" id="title" name="title" value="{{ event.title }}" required />
        </div>
        <div>
          <label class="form-label" for="description">Description</label>
          <textarea class="form-control" id="description" name="description" rows="4" required>{{ event.description }}</textarea>
        </div>
        <div>
          <label class="form-label" for="location">Location</label>
          <input class="form-control" type="text" id="location" name="location" value="{{ event.location }}" required />
        </div>
        <div>
          <label class="form-label" for="date">Date</label>
          <input class="form-control" type="date" id="date" name="date" value="{{ event.date }}" required />
        </div>
      </div>
      <div class="mt-4 d-flex justify-content-end gap-2">
        <a class="btn btn-light" href="{{ url_for('admin_events') }}">Cancel</a>
        <button class="btn btn-primary" type="submit">Save</button>
      </div>
    </form>
  </div>
</main>
{% endblock %}