{% extends "admin/base.html" %}

{% block abody %}
<div class="py-3 container-fluid d-flex gap-2">
  <div style="width: 40%;">
    <!-- Event Information -->
    <div class="card">
      <div class="card-body border-bottom">
        <h5 class="card-title m-0">Event</h5>
      </div>
      <form class="card-body" method="POST" action="{{ url_for('admin_events_manage', id=event.id) }}" enctype="multipart/form-data">
        <div class="vstack gap-2">
          <div>
            <label class="form-label" for="id">ID</label>
            <input class="form-control" type="text" id="id" name="id" value="{{ event.id }}" disabled />
          </div>
          <div>
            <label class="form-label" for="title">Title</label>
            <input class="form-control" type="text" id="title" name="title" value="{{ event.title }}" required />
          </div>
          <div>
            <label class="form-label" for="description">Description</label>
            <textarea class="form-control" id="description" name="description" rows="4" required>{{ event.description }}</textarea>
          </div>
          <div>
            <label class="form-label" for="location">Location</label>
            <input class="form-control" type="text" id="location" name="location" value="{{ event.location }}" required />
          </div>
          <div>
            <label class="form-label" for="date">Date</label>
            <input class="form-control" type="date" id="date" name="date" min="{{ current_date }}" value="{{ event.date }}" required />
          </div>
          <div>
            <label class="form-label" for="image">Image</label>
            {% if event.image_url %}
            <img class="mb-2 w-100 img-fluid rounded" src="{{ event.image_url }}" alt="{{ event.title }}" />
            {% endif %}
            <input class="form-control" type="file" id="image" name="image" />
          </div>
        </div>
        <div class="mt-4 d-flex justify-content-end gap-2">
          <a class="btn btn-secondary" href="{{ url_for('admin_events') }}">Cancel</a>
          <button class="btn btn-primary" type="submit">Save</button>
        </div>
      </form>
    </div>
  </div>

  <div class="flex-fill">
    <!-- Attendees -->
    <div class="card flex-fill">
      <div class="card-body flex-grow-0">
        <div class="d-flex justify-content-between align-items-center">
          <h5 class="card-title m-0">Attendees</h5>
          <p class="card-text">{{ len(event.attendees) }}</p>
        </div>
      </div>
      <div class="list-group list-group-flush">
        {% if event.attendees %}
        {% for attendee in event.attendees %}
        <div class="list-group-item py-3 d-flex justify-content-between align-items-center">
          <div>
            <h6 class="m-0">{{ attendee.user.name }}</h6>
            <p class="m-0 text-muted">Signed up on {{ attendee.created_at.strftime('%B %d, %Y') }}</p>
          </div>
          <div class="btn-group">
            <a class="btn btn-primary" href="{{ url_for('admin_users_manage', id=attendee.user.id) }}">View</a>
          </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="list-group-item">
          <div class="py-2 d-flex justify-content-center align-items-center">
            <p class="text-body-secondary m-0">No attendees found</p>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}