{% extends "admin/base.html" %}

{% block abody %}
<div class="min-vh-100 d-flex justify-content-center align-items-center my-4">
  <div class="card" style="width: 500px;">
    <form class="card-body" method="POST" action="{{ url_for('admin_events_edit', id=event.id) }}" enctype="multipart/form-data">
      <div>
        <h5 class="card-title text-center">Edit Event</h5>
      </div>
      <div class="vstack gap-2">
        <div>
          <label class="form-label" for="id">ID</label>
          <input class="form-control" type="text" id="id" name="id" value="{{ event.id }}" disabled />
        </div>
        <div>
          <label class="form-label" for="title">Title</label>
          <input class="form-control" type="text" id="title" name="title" value="{{ event.title }}" required />
        </div>
        <div>
          <label class="form-label" for="description">Description</label>
          <textarea class="form-control" id="description" name="description" rows="4" required>{{ event.description }}</textarea>
        </div>
        <div>
          <label class="form-label" for="location">Location</label>
          <input class="form-control" type="text" id="location" name="location" value="{{ event.location }}" required />
        </div>
        <div>
          <label class="form-label" for="date">Date</label>
          <input class="form-control" type="date" id="date" name="date" min="{{ current_date }}" value="{{ event.date }}" required />
        </div>
        <div>
          <label class="form-label" for="image">Event Image</label>
          <img class="my-2 rounded" style="width: 100%; max-height: 300px; object-fit: cover;" src="{{ event.image_filename }}" />
          <input class="form-control" type="file" id="image" name="image" />
        </div>
      </div>
      <div class="mt-4 d-flex justify-content-end gap-2">
        <a class="btn btn-secondary" href="{{ url_for('admin_events') }}">Cancel</a>
        <button class="btn btn-primary" type="submit">Save</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}