{% extends "admin/base.html" %}

{% block abody %}
<div class="container-fluid py-3">
  <div class="card">
    <!-- Header -->
    <div class="card-body d-flex justify-content-between align-items-center">
      <div>
        <h4 class="card-title m-0">
          <span>Products</span>
          <span class="badge text-bg-secondary">{{ len(products) }}</span>
        </h4>
      </div>
      <div class="d-flex gap-2">
        <form method="get" action="{{ url_for('admin_products') }}">
          <div class="input-group">
            <input class="form-control" name="search" type="search" placeholder="Search" value="{{ search }}" />
            <button class="btn btn-primary" type="submit">
              <i class="fa-solid fa-search"></i>
            </button>
          </div>
        </form>
        <a class="btn btn-primary" href="{{ url_for('admin_products_new') }}">New Product</a>
      </div>
    </div>

    <!-- Content -->
    <div class="list-group list-group-flush">
      {% if products %}
      {% for product in products %}
      <div class="list-group-item">
        <div class="py-2 d-flex justify-content-between align-items-center">
          <div>
            <h5 class="m-0">{{ product.name }}</h5>
            <p class="text-body-secondary m-0">
              <span>
                <i class="fa-solid fa-gamepad fa-sm"></i>
                Points Required: {{ product.points }}
              </span>
              <span class="mx-1">&bullet;</span>
              <span>
                <i class="fa-solid fa-box fa-sm"></i>
                Current Stock: {{ product.stock }}
              </span>
            </p>
          </div>
          <div class="btn-group">
            <a class="btn btn-primary" href="{{ url_for('admin_products_manage', id=product.id) }}">Manage</a>
            <a class="btn btn-danger" href="{{ url_for('admin_products_delete', id=product.id) }}">Delete</a>
          </div>
        </div>
      </div>
      {% endfor %}
      {% else %}
      <div class="list-group-item">
        <div class="py-2 d-flex justify-content-center align-items-center">
          <p class="text-body-secondary m-0">No products found</p>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}