{% extends "admin/base.html" %}

{% block abody %}
<div class="container my-4">
  <!-- Header -->
  <div class="d-flex justify-content-between align-items-center">
    <h3 class="m-0">Tasks ({{ products.__len__() }})</h3>
    <a class="btn btn-primary" href="{{ url_for('admin_tasks_new') }}">
      New Task
    </a>
  </div>

  <!-- Items -->
  <div class="mt-4 vstack gap-2">
    {% for task in tasks %}
    <div class="card">
      <div class="card-body d-flex justify-content-between align-items-center">
        <div>
          <h5 class="card-title">{{ task.name }}</h5>
          <p class="card-subtitle text-body-secondary">
            <span>
              <i class="fa-solid fa-gamepad fa-sm"></i>
              Current Players: {{ len(task.players) }}
            </span>
          </p>
        </div>
        <div>
          <a class="btn btn-primary" href="{{ url_for('admin_tasks_manage', id=task.id) }}">Manage</a>
          <a class="btn btn-danger" href="{{ url_for('admin_tasks_delete', id=task.id) }}">Delete</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

</div>
{% endblock %}