{% extends "admin/base.html" %}

{% block abody %}
<div class="h-100 d-flex justify-content-center align-items-center">
  <div class="card" style="width: 400px;">
    <form class="card-body" method="POST" action="{{ url_for('admin_transactions_delete', id=transaction.id) }}">
      <div>
        <h5 class="card-title text-center">Delete Transaction</h5>
      </div>
      <div>
        <p>Are you sure that you want to delete this transaction? Please re-enter the ID of the transaction to confirm.</p>
        <p class="text-center">
          <b>
            {{ transaction.id }}
          </b>
        </p>
      </div>
      <div>
        <div>
          <label class="form-label" for="id">Confirm ID</label>
          <input class="form-control" type="text" id="id" name="id" placeholder="{{ transaction.id }}" required />
        </div>
      </div>
      <div class="mt-4 d-flex justify-content-end gap-2">
        <a class="btn btn-light" href="{{ url_for('admin_transactions') }}">Cancel</a>
        <button class="btn btn-danger" type="submit">Delete</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}