{% extends "admin/base.html" %}

{% block abody %}
<div class="container my-4">
  <!-- Header -->
  <div>
    <h3 class="m-0">Transactions ({{ transactions.__len__() }})</h3>
  </div>

  <!-- Items -->
  <div class="mt-4 vstack gap-2">
    {% for transaction in transactions %}
    <div class="card">
      <div class="card-body d-flex justify-content-between align-items-center">
        <div>
          <h5 class="card-title">{{ transaction.description }}</h5>
          <p class="card-subtitle text-body-secondary">
            <span>
              <i class="fa-solid fa-user fa-sm"></i>
              By: {{ transaction.user.name }}
            </span>
            <span class="mx-1">&bullet;</span>
            <span>
              <i class="fa-solid fa-calendar fa-sm"></i>
              {{ transaction.created_at }}
            </span>
          </p>
        </div>
        <div>
          <a class="btn btn-primary" href="{{ url_for('admin_transactions_view', id=transaction.id) }}">View</a>
          <a class="btn btn-danger" href="{{ url_for('admin_transactions_delete', id=transaction.id) }}">Delete</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

</div>
{% endblock %}