{% extends "admin/base.html" %}

{% block abody %}
<div class="container">
  <!-- Title Bar -->
  <div class="mt-4">
    <h3 class="m-0">Transactions ({{ transactions.__len__() }})</h3>
  </div>

  <!-- Transactions Items -->
  <div class="mt-4 vstack gap-2">
    {% for transaction in transactions %}
    <div class="card">
      <div class="card-body d-flex justify-content-between align-items-center">
        <div>
          <h5 class="card-title">{{ transaction.description }}</h5>
          <p class="card-subtitle text-body-secondary">{{ transaction.id }}</p>
        </div>
        <div>
          <a class="btn btn-primary">View</a>
          <a class="btn btn-danger">Delete</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

</div>
{% endblock %}