{% extends "admin/base.html" %}

{% block abody %}
<div class="py-3 container-fluid d-flex gap-2">
  <div style="width: 40%;">
    <!-- User Information -->
    <div class="card">
      <div class="card-body border-bottom d-flex justify-content-between align-items-center">
        <div>
          <h5 class="card-title m-0">User</h5>
        </div>
        <div>
          <a class="btn btn-sm btn-primary" href="{{ url_for('profile_other', id=user.id) }}">View Profile</a>
        </div>
      </div>
      <form class="card-body" method="POST" action="{{ url_for('admin_users_manage', id=user.id) }}">
        <div class="vstack gap-2">
          <div>
            <label class="form-label" for="id">ID</label>
            <input class="form-control" type="text" id="id" name="id" value="{{ user.id }}" disabled />
          </div>
          <div>
            <label class="form-label" for="name">Name</label>
            <input class="form-control" type="text" id="name" name="name" value="{{ user.name }}" required />
          </div>
          <div>
            <label class="form-label" for="email">Email</label>
            <input class="form-control" type="email" id="email" name="email" value="{{ user.email }}" required />
          </div>
          <div>
            <label class="form-label" for="bio">Bio</label>
            <textarea class="form-control" id="bio" name="bio" rows="4">{{ user.bio }}</textarea>
          </div>
          <div>
            <label class="form-label" for="birthday">Birthday</label>
            <input class="form-control" type="date" id="birthday" name="birthday" max="{{ current_date }}" value="{{ user.birthday }}" />
          </div>
        </div>
        <div class="mt-4 d-flex justify-content-end gap-2">
          <a class="btn btn-secondary" href="{{ url_for('admin_users') }}">Cancel</a>
          <button class="btn btn-primary" type="submit">Save</button>
        </div>
      </form>
    </div>
  </div>

  <div class="flex-fill d-flex flex-column gap-2">
    <!-- Attendings -->
    <div class="card">
      <div class="card-body d-flex justify-content-between align-items-center">
        <h5 class="m-0 card-title">Attendings</h5>
        <p class="card-text">{{ len(attendings) }}</p>
      </div>
      <div class="list-group list-group-flush">
        {% if attendings %}
        {% for attending in attendings %}
        <div class="list-group-item py-3 d-flex justify-content-between align-items-center">
          <div>
            <h6 class="m-0">{{ attending.event.title }}</h6>
            <p class="m-0 text-muted">Signed up on {{ attending.created_at.strftime('%B %d, %Y') }}</p>
          </div>
          <div class="btn-group">
            <a class="btn btn-primary" href="{{ url_for('admin_events_manage', id=attending.event.id) }}">View</a>
          </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="list-group-item">
          <div class="py-2 d-flex justify-content-center align-items-center">
            <p class="text-body-secondary m-0">No attendings found</p>
          </div>
        </div>
        {% endif %}
      </div>
    </div>

    <!-- Transactions -->
    <div class="card">
      <div class="card-body d-flex justify-content-between align-items-center">
        <h5 class="card-title m-0">Transactions</h5>
        <p class="card-text">{{ len(transactions) }}</p>
      </div>
      <div class="list-group list-group-flush">
        {% if transactions %}
        {% for transaction in transactions %}
        <div class="list-group-item py-3 d-flex justify-content-between align-items-center">
          <div>
            <h6 class="m-0">{{ transaction.description }}</h6>
            <p class="m-0 text-muted">Made on {{ transaction.created_at.strftime('%B %d, %Y') }}</p>
          </div>
          <div class="btn-group">
            <a class="btn btn-primary" href="{{ url_for('admin_transactions_view', id=transaction.id) }}">View</a>
          </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="list-group-item">
          <div class="py-2 d-flex justify-content-center align-items-center">
            <p class="text-body-secondary m-0">No transactions found</p>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}