<div id="toaster" class="d-flex flex-column gap-2 toast-container position-fixed bottom-0 end-0 p-3">
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  {% for category, message in messages %}
  <div class="m-0 toast border-{{ category }} show">
    <div class="d-flex">
      <div class="toast-body">
        {{ message }}
      </div>
      <button class="m-auto me-2 btn-close" data-bs-dismiss="toast"></button>
    </div>
  </div>
  {% endfor %}
  {% endif %}
  {% endwith %}
</div>