<nav class="navbar navbar-expand-md shadow bg-secondary-subtle">
  <div class="container-fluid">
    <!-- Navigation Brand -->
    <a class="navbar-brand" href="{{ url_for('home') }}">
      <img class="d-inline-block align-text-top" src="{{ static('/icon.png') }}" alt="Logo" width="30" height="24">
      <span class="ms-1">Eco Primers</span>
    </a>

    <!-- Mobile Menu -->
    <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Desktop Menu -->
    <div id="navigation" class="navbar-collapse collapse">
      <!-- Navigation Items -->
      <ul class="navbar-nav mx-auto gap-2">
        {% if is_logged_in %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('events') }}">Events</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
            Community
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{{ url_for('community') }}">Explore</a></li>
            <li><a class="dropdown-item" href="{{ url_for('community_saved') }}">Saved</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
            Engagement
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{{ url_for('tasks') }}">Tasks</a></li>
            <li><a class="dropdown-item" href="{{ url_for('rewards') }}">Rewards</a></li>
            <li><a class="dropdown-item" href="{{ url_for('donation') }}">Donate</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
            Messaging
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{{ url_for('messaging') }}">My Chat</a></li>
            <li><a class="dropdown-item" href="{{ url_for('deleted_messages') }}">Deleted Messages</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('chat') }}">Help</a>
        </li>
        <li class="nav-item">
          
        <!--  News button -->
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('news') }}">News</a>
        </li>
        {% endif %}
        
      </ul>

      <!-- User Profile -->
      <div>
        {% if is_logged_in %}
        <!-- Show Profile Button if user is logged in -->
        <a class="nav-link" href="#" data-bs-toggle="dropdown">
          <img class="ratio ratio-1x1" src="https://github.com/shadcn.png" alt="Profile Picture" style="height: 35px; border-radius: 100%;" />
        </a>
        <ul class="dropdown-menu dropdown-menu-end">
          <li>
            <a class="dropdown-item" href="{{url_for('profile')}}">View Profile</a>
          </li>
          {% if is_admin_user %}
          <li>
            <a class="dropdown-item" href="{{ url_for('admin') }}">Manage Platform</a>
          </li>
          {% endif %}
          <li>
            <hr class="dropdown-divider" />
          </li>
          <li>
            <a class="dropdown-item" href="{{ url_for('toggle_dark_mode') }}">
              {{ 'Disable Dark Mode' if dark_mode_enabled else 'Enable Dark Mode' }}
            </a>
          </li>
          <li>
            <hr class="dropdown-divider" />
          </li>
          <li>
            <a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a>
          </li>
        </ul>
        {% else %}
        <!-- Display Login and Sign Up Buttons if user is not logged in -->
        <div class="d-flex gap-1">
          {% if request.path != url_for('login') %}
          <a href="/login" class="btn btn-outline-primary">Login</a>
          {% endif %}
          {% if request.path != url_for('signup') %}
          <a href="/signup" class="btn btn-outline-secondary">Sign Up</a>
          {% endif %}
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</nav>