<nav class="navbar navbar-expand-md bg-body-tertiary">
  <div class="container-fluid">
    <!-- Navigation Brand -->
    <a class="navbar-brand" href="/">Eco Primers</a>

    <!-- Mobile Menu -->
    <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navigation" class="navbar-collapse collapse">

      <!-- Navigation Items -->
      <ul class="navbar-nav mx-auto">
        {% if is_logged_in %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
            Engagement
          </a>
          <ul class="dropdown-menu">
            <!-- TODO: Add href to pages -->
            <li><a class="dropdown-item" href="#">Tasks</a></li>
            <li><a class="dropdown-item" href="#">Rewards</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
            Community
          </a>
          <ul class="dropdown-menu">
            <!-- TODO: Add href to pages -->
            <li><a class="dropdown-item" href="#">Explore</a></li>
            <li><a class="dropdown-item" href="{{ url_for('messaging_page') }}">Messaging</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('events') }}">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('chat') }}">Chat</a>
        </li>
        {% endif %}
      </ul>

      <!-- User Authentication -->
      <form class="form-inline">
        {% if session.get('user_id') %}
        <!-- Profile Icon Dropdown if user is logged in -->
        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
          <i class="fas fa-user-circle"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-end">
          <a class="dropdown-item" href="#">View Profile</a>
          <a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a>
        </div>
        {% else %}
        <!-- Display Login and Sign Up Buttons based on current page -->
        {% if request.path != url_for('login') %}
        <a href="/login" class="btn mr-2">Login</a>
        {% endif %}
        {% if request.path != url_for('signup') %}
        <a href="/signup" class="btn">Sign Up</a>
        {% endif %}
        {% endif %}
      </form>

    </div>
  </div>
</nav>

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<div class="flashes">
  {% for category, message in messages %}
  <div class="alert alert-{{ category }}">{{ message }}</div>
  {% endfor %}
</div>
{% endif %}
{% endwith %}