<div id="toaster" class="d-flex flex-column toast-container position-fixed end-0 bottom-0 gap-2 p-3">
  {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %} {% for category, message in
  messages %}
  <div class="m-0 toast border-{{ category }} show">
    <div class="d-flex">
      <div class="toast-body">{{ message }}</div>
      <button class="btn-close m-auto me-2" data-bs-dismiss="toast"></button>
    </div>
  </div>
  {% endfor %} {% endif %} {% endwith %}
</div>
