main {
  display: flex;
  flex-direction: column;
}

.messages {
  padding: 8px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: 8px;
  overflow: auto;
  scroll-behavior: smooth;
}

.input {
  margin: 8px;
  display: flex;
  gap: 8px;
}

.input input {
  flex-grow: 1;
}