main {
  display: flex;
  flex-direction: column;
}

#messages {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: 8px;
  overflow: auto;
  scroll-behavior: smooth;
}

#form {
  display: flex;
  gap: 8px;
}

#form input {
  flex-grow: 1;
}

.card-text :last-child {
  margin-bottom: 0;
}