.el-background {
  background: hsl(0 0% 94%);
}

.el-background-transition {
  background: linear-gradient(to bottom, hsl(0 0% 94%) 50%, var(--bs-body-bg) 100%);
}

.el-dots {
  --size: 20px;

  width: 100%;
  height: 100%;

  background: conic-gradient(
    from 180deg at 50% 70%,
    hsla(0, 0%, 2%, 1) 0deg,
    #113cd2 72.0000010728836deg,
    #13b4b4 144.0000021457672deg,
    #8f6546 216.00000858306885deg,
    #b20040 288.0000042915344deg,
    hsla(0, 0%, 2%, 1) 1turn
  );

  mask:
    radial-gradient(circle at 50% 50%, black 2px, transparent 2.5px) 50% 50% / var(--size) var(--size),
    url("https://assets.codepen.io/605876/noise-mask.png") 256px 50% / 256px 256px;
  mask-composite: intersect;
  animation: flicker 20s infinite linear;
}

@keyframes flicker {
  to {
    mask-position:
      50% 50%,
      0 50%;
  }
}
