#users {
  height: 100%;
  width: 400px;
}

.user {
  margin-top: -1em;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 11px;
  height: 75px;
  width: 100%;
}

.user .initials {
  height: 53px;
  width: 53px;
  border-radius: 50%;
}

.user .initials h3 {
  margin: 0;
  line-height: 53px;
  text-align: center;
  font-weight: bold;
}

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-info .name {
  margin: 0;
  font-size: 1.2rem;
  font-weight: normal;
}

.user-info .status {
  margin: 0;
  color: #666;
  font-size: 0.9rem;
}

.user img {
  height: 53px;
  width: 53px;
  border-radius: 50%;
}


#input-space {
  height: 80px;
}

#message-space {
  margin: none;
  display: flex;
  flex-direction: column-reverse;
  width: max;
  height: max;
}

.message-block {
  padding-top: 10px;
  padding-left: 50px;
  padding-right: 50px;
}

.message-block .message {
  padding-left: 10px;
  padding-right: 10px;

  max-width: 400px;
  height: auto;
}

.input-space {
  height: 100px;
}

#chat-scape {
  width: 100%;
  overflow-y: auto;
}

#users .list-group-item, #users .form-control {
  border: none !important
}

.message{
  max-width: 100px;
  height: auto;
}

#chat-scape {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}

.card-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
}

.input-group {
  position: sticky;
  bottom: 0;
  padding: 10px;
}

.message-space {
  display: flex;
  flex-direction: column-reverse;
  overflow-y: auto;
  flex-grow: 1;
  padding-bottom: 10px; /* Avoid overlap with the input field */
}
